openapi: 3.2.0
info:
  title: Chocodata Amazon API
  version: 1.0.0
  description: One web scraper API for the whole web.
  contact:
    name: Chocodata
    url: https://chocodata.com
    email: hello@chocodata.com
servers:
- url: https://api.chocodata.com
security:
- apiKeyQuery: []
tags:
- name: Amazon
paths:
  /api/v1/amazon/product:
    get:
      operationId: getProduct
      summary: 'Example specific-item endpoint: structured data for a single Amazon product…'
      parameters:
      - name: api_key
        in: query
        required: true
        schema:
          type: string
        description: Your API key, passed as the api_key query parameter.
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: 10-character ASIN (or 10-char ISBN for books).
      - name: domain
        in: query
        required: false
        schema:
          type: string
          default: com
          enum:
          - com
          - co.uk
          - de
          - fr
          - it
          - es
          - nl
          - pl
          - se
          - ca
          - com.mx
          - com.br
          - com.au
          - co.jp
          - sg
          - in
          - com.tr
          - ae
          - sa
          - eg
        description: Amazon marketplace TLD.
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: Content language as xx_YY (e.g. en_US).
      - name: add_html
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Attach the raw page HTML under `html`.
      responses:
        '200':
          description: Structured product data.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid API key.
        '400':
          description: Invalid parameters (e.g. ASIN not 10 chars).
        '502':
          description: The target site blocked us or returned an unparseable page (not charged).
      tags:
      - Amazon
  /api/v1/amazon/search:
    get:
      operationId: getSearch
      summary: 'Example search endpoint: structured Amazon search results for a keyword'
      parameters:
      - name: api_key
        in: query
        required: true
        schema:
          type: string
        description: Your API key, passed as the api_key query parameter.
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Search keyword(s).
      - name: domain
        in: query
        required: false
        schema:
          type: string
          default: com
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid API key.
      tags:
      - Amazon
  /api/v1/amazon/batch:
    post:
      operationId: createBatch
      summary: Submit an asynchronous batch of jobs (any site.resource, including…
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Batch accepted; returns a batch id to poll.
        '401':
          description: Missing or invalid API key.
      tags:
      - Amazon
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
